

@media(min-width:992px){

.header{width:100%;height:30px;margin-bottom:30px}

.header h2{text-align:center;}

.container{width:100%;padding:2px;display:flex}


.container .text{
    width:400px;
    height:200px;
    background-color:#999999;
    margin-left:35px;
    float:left;
    border:1px solid black;
        

}

.container .text  .title1,.title2,.title3{
    width:150px;
    padding:5px;
    float:right;
    font-size:20px;
    text-align: center;
    font-weight:bold;
    border:1px solid black;
    clear:both
}

.container .text .title1{background-color:#d59898;}

.container .text .title2{background-color:#c14543}

.container .text .title3{background-color:#e5d198}

.container1{
    display:block;
    width:93%;
    margin-top:36px;
    padding:20px;
    font-weight:bold
}
}    

@media(max-width:991px){
    .header{
        width:100%;
        height:30px;
        margin-bottom:30px
    }
    
    .header h2{text-align:center;}
    
    .container{
        width:100%;
        padding:2px;
        display:flex;
        flex-wrap:wrap
    }
    
    .text:first-of-type{
    width:48.5%;
    background-color:#999999;
    margin-left:10px;
    margin-bottom:10px
}
    
    .text:nth-of-type(2){
        width:48.5%;
        background-color:#999999;
        margin-left:10px;
        margin-bottom:10px
    }

    .text:last-of-type{
        width:100%;
        background-color:#999999;
        margin-left:10px;
    }
    
    .container .text  .title1,.title2,.title3{
        width:150px;
        padding:5px;
        float:right;
        font-size:20px;
        text-align: center;
        font-weight:bold;
        border:1px solid black;
        clear:both
    }
    
    .container .text .title1{background-color:#d59898;}
    
    .container .text .title2{background-color:#c14543}
    
    .container .text .title3{background-color:#e5d198}
    
    .container1{
        display:block;
        width:93%;
        margin-top:36px;
        padding:20px;
        font-weight:bold;
        display:flex
    }
    }


@media(max-width:767px){
    .header{
        width:100%;
        height:30px;
        margin-bottom:30px
    }
    
    .header h2{ text-align:center;}
    
    .container{width:100%;padding:2px;float:left}
    
    .text:first-of-type{
    width:100%;
    background-color:#999999;
    margin-left:10px;
    margin-bottom:10px
}
    
    .text:nth-of-type(2){
        width:100%;
        background-color:#999999;
        margin-left:10px;
        margin-bottom:10px
    }

    .text:last-of-type{
        width:100%;
        background-color:#999999;
        margin-left:10px;
    }
    
    .container .text  .title1,.title2,.title3{
        width:150px;
        padding:5px;
        float:right;
        font-size:20px;
        text-align: center;
        font-weight:bold;
        border:1px solid black;
        clear:both
    }
    
    .container .text .title1{background-color:#d59898;}
    
    .container .text .title2{background-color:#c14543}
    
    .container .text .title3{background-color:#e5d198
}
    
    .container1{
        display:block;
        width:93%;
        margin-top:36px;
        padding:20px;
        font-weight:bold;
        display:flex
    }
    }
